<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAP Demo--</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
     {{form.media}}

</head>
<body>

    <form method="post">
        {% csrf_token %}

        {{form.as_p}}<br>
        <input type="submit" value="Save">
    </form>

<!--<div id='map' style='width: 1000px; height: 600px;'></div>-->
<!--<script>-->

<!--  mapboxgl.accessToken = '{{mapbox_access_token}}';-->

<!--  var map = new mapboxgl.Map({-->
<!--    container: 'map',-->
<!--    style: 'mapbox://styles/mapbox/satellite-streets-v10',-->
<!--     center: [-77.03, 38.91],-->
<!--     zoom: 9,-->
<!--     bearing: 180-->
<!--  });-->

<!--&lt;!&ndash;   Add geolocate control to the map.&ndash;&gt;-->
<!--    map.addControl(-->
<!--    new mapboxgl.GeolocateControl({-->
<!--    positionOptions: {-->
<!--    enableHighAccuracy: true-->
<!--    },-->
<!--    trackUserLocation: true-->
<!--    })-->
<!--    );-->
<!--</script>-->
<!--<br>-->
<!--    {{ form.media }}-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{form}}-->
<!--       <input type="submit" value="submit">-->
<!--    </form>-->

</body>
</html>